@page
@using FitnessBuddy.Data.Models.Enums
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" class="text-center hover-shadow col-md-6 offset-3" method="post">
    <h1>@ViewData["Title"]</h1>

    <div asp-validation-summary="All" class="text-danger"></div>

    <!-- One "tab" for each step in the form: -->
    <div class="tab">
        <div class="form-group">
            <label asp-for="Input.Username"></label>
            <input class="form-control" asp-for="Input.Username" placeholder="Username..." oninput="this.className = 'form-control'">
            <span asp-validation-for="Input.Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input class="form-control" asp-for="Input.Email" placeholder="Email..." oninput="this.className = 'form-control'">
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input class="form-control" asp-for="Input.Password" placeholder="Password..." oninput="this.className = 'form-control'">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input class="form-control" asp-for="Input.ConfirmPassword" placeholder="Confirm Password..." oninput="this.className = 'form-control'">
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="tab">
        <div class="form-grup">
            <label asp-for="Input.Gender"></label>
            <select asp-for="Input.Gender" asp-items="Html.GetEnumSelectList<GenderType>()" class="form-select"></select>
            <span asp-validation-for="Input.Gender" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.CurrentWeight"></label>
            <input class="form-control" asp-for="Input.CurrentWeight" placeholder="Current Weight..." oninput="this.className = 'form-control'">
            <span asp-validation-for="Input.CurrentWeight" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.GoalWeight"></label>
            <input class="form-control" asp-for="Input.GoalWeight" placeholder="Goal Weight..." oninput="this.className = 'form-control'">
            <span asp-validation-for="Input.GoalWeight" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Height"></label>
            <input class="form-control" asp-for="Input.Height" placeholder="Height..." oninput="this.className = 'form-control'">
            <span asp-validation-for="Input.Height" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.DailyProteinGoal"></label>
            <input class="form-control" asp-for="Input.DailyProteinGoal" placeholder="Daily protein goal..." oninput="this.className = 'form-control'">
            <span asp-validation-for="Input.DailyProteinGoal" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.DailyCarbsGoal"></label>
            <input class="form-control" asp-for="Input.DailyCarbsGoal" placeholder="Daily carbs goal..." oninput="this.className = 'form-control'">
            <span asp-validation-for="Input.DailyCarbsGoal" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.DailyFatGoal"></label>
            <input class="form-control" asp-for="Input.DailyFatGoal" placeholder="Daily fat goal..." oninput="this.className = 'form-control'">
            <span asp-validation-for="Input.DailyFatGoal" class="text-danger"></span>
        </div>
        <div class="form-grup">
            <label asp-for="Input.AboutMe"></label>
            <textarea asp-for="Input.AboutMe" class="form-control" placeholder="Tell us more about you..." rows="5"></textarea>
            <span asp-validation-for="Input.AboutMe" class="text-danger"></span>
        </div>
    </div>

    <div style="overflow:auto;">
        <div class="text-center">
            <button class="btn btn-outline-secondary" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button class="btn btn-outline-info" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
        </div>
    </div>

    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
    </div>
</form>