@model TrainingExerciseInputModel

<div class="col-md-2 form-training-bg-color text-center text-white font-weight-bold">
    <form asp-controller="Trainings" asp-action="AddExercise">
        <div class="form-grup">
            <label asp-for="Sets"></label>
            <input asp-for="Sets" class="form-control" placeholder="Sets..." />
            <span asp-validation-for="Sets" class="text-danger"></span>
        </div>
        <div class="form-grup">
            <label asp-for="Repetitions"></label>
            <input asp-for="Repetitions" class="form-control" placeholder="Repetitions..." />
            <span asp-validation-for="Repetitions" class="text-danger"></span>
        </div>
        <div class="form-grup">
            <label asp-for="Weight"></label>
            <input asp-for="Weight" class="form-control" placeholder="Weight..." />
            <span asp-validation-for="Weight" class="text-danger"></span>
        </div>
        <vc:trainings-select></vc:trainings-select>
        <input type="hidden" asp-for="ExerciseId" value="@Model.ExerciseId" />
        <div class="form-group" style="margin-top: 2%;">
            <input type="submit" class="btn btn-info" value="Add" />
        </div>
    </form>
</div>