@using FitnessBuddy.Web.Infrastructure.Extensions
@using FitnessBuddy.Services.Data.Users
@model MealFoodInputModel
@inject IUsersService usersService

@{
    this.ViewData["Title"] = "Add food to meal";
}

@if (this.usersService.HasMeal(this.User.GetUserId()))
{
    <div class="text-center">
        <h1>
            @Model.FoodName
        </h1>
        <form asp-action="AddFood" asp-controller="Meals" class="col-lg-6 offset-lg-3">
            <input asp-for="FoodId" type="hidden" />
            <div class="form-group">
                <label asp-for="QuantityInGrams"></label>
                <input asp-for="QuantityInGrams" class="form-control" placeholder="Quantity in grams..." />
                <span asp-validation-for="QuantityInGrams" class="text-danger"></span>
            </div>
            <vc:user-meals-drop-down user-Id="@this.User.GetUserId()"></vc:user-meals-drop-down>
            <input type="submit" class="btn btn-primary" value="Add" />
        </form>
    </div>
}
else
{
    <partial name="_NoMealsPartial" />
}


