@model MealInputModel

@{
    this.ViewData["Title"] = "Create Meal";
}

<div class="text-center">
    <h1>
        Create new meal
    </h1>

    <form asp-controller="Meals" asp-action="Create" class="col-lg-6 offset-lg-3">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-grup">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" placeholder="Meal name..."/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-grup">
            <label asp-for="TargetProtein"></label>
            <input asp-for="TargetProtein" class="form-control" placeholder="Target protein..."/>
            <span asp-validation-for="TargetProtein" class="text-danger"></span>
        </div>
        <div class="form-grup">
            <label asp-for="TargetCarbs"></label>
            <input asp-for="TargetCarbs" class="form-control" placeholder="Target carbs..."/>
            <span asp-validation-for="TargetCarbs" class="text-danger"></span>
        </div>
        <div class="form-grup">
            <label asp-for="TargetFat"></label>
            <input asp-for="TargetFat" class="form-control" placeholder="Target fat..."/>
            <span asp-validation-for="TargetFat" class="text-danger"></span>
        </div>
        <div class="form-grup" style="margin-top: 2%;">
            <input type="submit" class="btn btn-outline-primary" value="Create" />
        </div>
    </form>
</div>