@model PostInputModel

@{
    ViewData["Title"] = "Edit";
    this.TempData["categoryId"] = this.Model.CategoryId;
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<h4 class="text-center">Post</h4>
<hr />
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="20"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <vc:post-categories-select></vc:post-categories-select>
            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index">Back to List</a>
</div>
