@model IEnumerable<UserChatViewModel>

@{
    this.ViewData["Title"] = "Messages";
}

<div class="col-md-3 text-center">
    Conversation
    @foreach (var chat in this.Model)
    {
        <div>
            <a class="hover-shadow" asp-action="WithUser" asp-controller="Chat" asp-route-username="@chat.ReceiverUsername">
                <span>With: @chat.ReceiverUsername</span>
                <p>Started on: @chat.CreatedOn.ToLongDateString()</p>
            </a>
        </div>
    }
</div>
