@model MealFoodInputModel

@{
    this.ViewData["Title"] = "Add food to meal";
    var imageUrl = string.IsNullOrWhiteSpace(@Model.ImageUrl) ? "/images/foods/default-food.jpg" : Model.ImageUrl;
}

@if (@Model.HasMeals)
{
    <div class="text-center">
        <h1>
            @Model.FoodName
        </h1>
        <img src="@imageUrl" alt="..." class="img-thumbnail db center mb3 br-100" width="250" height="130" style="height:120px!important;">
        <form asp-action="AddFood" asp-controller="MealsFoods" class="col-lg-6 offset-lg-3">
            <input asp-for="FoodId" type="hidden" />
            <div class="form-group">
                <label asp-for="QuantityInGrams"></label>
                <input asp-for="QuantityInGrams" class="form-control" placeholder="Quantity in grams..." />
                <span asp-validation-for="QuantityInGrams" class="text-danger"></span>
            </div>
            <vc:user-meals-select></vc:user-meals-select>
            <input type="submit" class="btn btn-primary" value="Add" />
        </form>
    </div>
}
else
{
    <partial name="_NoMealsPartial" />
}


