@model IEnumerable<SelectViewModel>

<div class="form-group">
    <label id="select-meal">For meal</label>
    <select id="select-meal" name="MealId"
            class="form-select"
            asp-items="@(new SelectList(Model,"Id","Name",this.ViewData[GlobalConstants.NameOfSelected]))">
    </select>
</div>



