.body-bg-color {
    /*background-color: #EEEEEE;*/
    background-color: #F2F2F2;
}

.card-bg-color {
    background-color: #DCDCDC;
}

.li-bg-color {
    background-color: #F2F2F2;
}

.form-training-bg-color {
    background-color: #008796;
}

.training-details-bg-color {
    background-color: #E7E7E7;
}
