@model string

<div class="row col-md-7 offset-3" style="margin-bottom: 1%">
    <form class="form-inline col-lg-6 offset-lg-3" asp-action="@Model" asp-controller="Foods">
        <input class="form-control mr-sm-2" type="search" placeholder="Food name..." aria-label="Search" name="search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>