@model string

<div class="row justify-content-center" style="margin-bottom: 1%">
    <form class="form-inline col-lg-6 offset-lg-3" asp-action="@Model" asp-controller="Foods">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <input type="hidden" name="id" value="1" />
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>