@using FitnessBuddy.Web.Infrastructure.Extensions
@model IEnumerable<FoodViewModel>
@inject FitnessBuddy.Services.Data.Users.IUsersService userService

@{
    this.ViewData["Title"] = "All foods";
}

<h1 class="text-center">
    All foods
</h1>
<div class="container">
    <div class="row">
        @foreach (var food in @Model)
        {
            <div class="card col-md-3 offset-md-1" style="width: 18rem; height: fit-content; margin-top: 1%;">
                <partial name="_FoodPartial" model="food" />
                @if (this.User.Identity.IsAuthenticated)
                {
                    @if (this.userService.IsFoodFavorite(this.User.GetUserId(), food.Id) == false)
                    {
                        <a asp-action="AddToFavorite" asp-controller="Foods" asp-route-foodId="@food.Id" class="btn btn-success">
                            Add to favorite
                        </a>
                    }
                }
            </div>
        }
    </div>
</div>



