@using FitnessBuddy.Web.Infrastructure.Extensions
@model AllFoodsViewModel

@{
    this.ViewData["Title"] = "My favorite foods";
}

<h1 class="text-center">
    Favorite foods
</h1>

@if (Model.Foods.Any() == false)
{
    <h4 class="text-center">
        You don't have any favorite foods!
    </h4>
}
else
{
    <partial name="_FoodsPagingPartial" model="@Model" />
    <div class="container">
        <div class="row">
            @foreach (var food in @Model.Foods)
            {
                <div class="card col-6 col-sm-5 col-md-3 col-lg-3 flex relative">
                    <partial name="_FoodPartial" model="food" />
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center">
                            <a class="btn btn-dark" asp-action="RemoveFromFavorite" asp-controller="Foods" asp-route-foodId="@food.Id">
                                Remove
                            </a>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
    <partial name="_FoodsPagingPartial" model="@Model" />
}




