@using FitnessBuddy.Web.Infrastructure.Extensions
@model IEnumerable<FoodViewModel>

@{
    this.ViewData["Title"] = "My foods";
}

<h1 class="text-center">
    My foods
</h1>

<div class="container">
    <div class="row">
        @foreach (var food in @Model)
        {
            <div class="card col-6 col-sm-5 col-md-3 col-lg-3 flex relative">
                <partial name="_FoodPartial" model="food">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center">
                            <a class="btn btn-info" asp-action="Edit" asp-controller="Foods" asp-route-id="@food.Id">
                                Edit
                            </a>
                            <a class="btn btn-danger" asp-action="Delete" asp-controller="Foods" asp-route-foodId="@food.Id">
                                Delete
                            </a>
                        </li>
                    </ul>
            </div>
        }
    </div>
</div>



