@using FitnessBuddy.Web.Infrastructure.Extensions
@model IEnumerable<FoodViewModel>

@{
    this.ViewData["Title"] = "My foods";
}

<h1 class="text-center">
    My foods
</h1>

<div class="container">
    <div class="row">
        @foreach (var food in @Model)
        {
            <div class="card col-md-3 offset-md-1" style="width: 18rem; height: fit-content; margin-top: 1%;">
                <partial name="_FoodPartial" model="food">
                    <a class="btn btn-info" asp-action="Edit" asp-controller="Foods" asp-route-id="@food.Id">
                        Edit
                    </a>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Foods" asp-route-id="@food.Id">
                        Delete
                    </a>
            </div>
        }
    </div>
</div>



