@model ExerciseInputModel

@{
    this.ViewData["Title"] = "Add exercise";
}


<div class="text-center">
    <h1>
        Add Exercise
    </h1>

    <form asp-action="Add" asp-controller="Exercises" class="col-lg-6 offset-lg-3">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" rows="4" cols="50"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="Difficulty"></label>
            <select asp-for="Difficulty" asp-items="Html.GetEnumSelectList<ExerciseDifficulty>()" class="form-control"></select>
            <span asp-validation-for="Difficulty"></span>
        </div>
        <vc:exercise-categories-select></vc:exercise-categories-select>
        <vc:exercise-equipment-select></vc:exercise-equipment-select>
        <div class="form-group">
            <label asp-for="ImageUrl"></label>
            <input asp-for="ImageUrl" class="form-control" />
            <span asp-validation-for="ImageUrl"></span>
        </div>
        <div class="form-group">
            <label asp-for="VideoUrl"></label>
            <input asp-for="VideoUrl" class="form-control" />
            <span asp-validation-for="VideoUrl"></span>
        </div>

        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Add" />
        </div>
    </form>
</div>