@using FitnessBuddy.Common
@using FitnessBuddy.Web.ViewModels.Exercises
@model AllExercisesViewModel

@{
    this.ViewData["Title"] = "All exercise";
}

<div class="text-center">
    <h2 style="font-style: oblique;">
        All Exercises
    </h2>
</div>

<div class="row justify-content-center" style="margin-bottom: 1%">
    <form class="form-inline col-lg-6 offset-lg-3" asp-action="All" asp-controller="Exercises">
        <input class="form-control mr-sm-2" type="search" placeholder="Name or Category" aria-label="Search" name="search">
        <input type="hidden" name="id" value="1" />
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>

<hr />

@if (Model.Exercises.Any() == false)
{
    <h3 class="text-center">No exercises found!</h3>
}

<partial name="_AlertDeletePartial" />

<div class="container">
    <div class="row">
        @foreach (var exercise in Model.Exercises)
        {
            <partial name="_ExercisePartial" model="exercise" />
        }
    </div>
</div>
<partial name="_PagingPartial" model="@Model" />