@model ExerciseInputModel

@{
    this.ViewData["Title"] = "Edit exercise";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="text-center">
                <h3>
                    @this.ViewData["Title"]
                </h3>

                <form asp-action="Edit" asp-controller="Exercises">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Exercise Name..." />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" class="form-control" rows="4" cols="50" placeholder="Description..."></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Difficulty"></label>
                        <select asp-for="Difficulty" asp-items="Html.GetEnumSelectList<ExerciseDifficulty>()" class="form-select"></select>
                        <span asp-validation-for="Difficulty" class="text-danger"></span>
                    </div>

                    <vc:exercise-categories-select></vc:exercise-categories-select>

                    <vc:exercise-equipment-select></vc:exercise-equipment-select>

                    <div class="form-group">
                        <label asp-for="ImageUrl"></label>
                        <input asp-for="ImageUrl" class="form-control" placeholder="Link to image address..." />
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VideoUrl"></label>
                        <input asp-for="VideoUrl" class="form-control" placeholder="Link to the youtube exercise video..." />
                        <span asp-validation-for="VideoUrl" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-outline-secondary" type="submit" value="Add" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
