@using FitnessBuddy.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/mycustom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_bootswatch.scss" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_variables.scss" asp-append-version="true" />
</head>
<body class="body-bg-color">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-info border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link btn text-white" asp-area="" asp-controller="Users" asp-action="Profile">Profile</a>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown show">
                                    <a class="btn dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Workout
                                    </a>
                                    <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Exercises" asp-action="All">All exercises</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Trainings" asp-action="MyTrainings">My trainings</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Exercises" asp-action="Create">Create exercise</a>
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        }
                        <li class="nav-item">
                            <div class="dropdown show">
                                <a class="btn dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Foods
                                </a>
                                <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" asp-area="" asp-controller="Foods" asp-action="All" asp-route-id="1">All foods</a>
                                    @if (this.User.Identity.IsAuthenticated)
                                    {
                                        <a class="dropdown-item" asp-action="MyFoods" asp-controller="Foods" asp-route-id="1">My foods</a>
                                        <a class="dropdown-item" asp-action="Favorites" asp-controller="Foods" asp-route-id="1">My favorite foods</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Meals" asp-action="MyMeals">My meals</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Foods" asp-action="Add">Add food</a>
                                    }
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown show">
                                <a class="btn dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Articles
                                </a>
                                <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" asp-area="" asp-controller="Articles" asp-action="All" asp-route-id="1">All</a>
                                    @if (this.User.Identity.IsAuthenticated)
                                    {
                                        <a class="dropdown-item" asp-action="Create" asp-controller="Articles" asp-route-id="1">Create</a>
                                        <a class="dropdown-item" asp-action="Categories" asp-controller="Articles" asp-route-id="1">Categories</a>
                                    }
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown show">
                                <a class="btn dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Community
                                </a>
                                <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
                                    @if (this.User.Identity.IsAuthenticated)
                                    {
                                        <a class="dropdown-item" asp-action="Categories" asp-controller="Posts" asp-route-id="1">Forum</a>
                                    }
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="footer shadow alert alert-dismissible alert-primary text-dark">
        <div class="container">
            <div class="row">
                    <div class="col-md-3">
                        <h2 class="ct-footer-list-header">Learn More</h2>
                        <ul>
                            <li>
                                <a href="">Company</a>
                            </li>
                            <li>
                                <a href="">Clients</a>
                            </li>
                            <li>
                                <a href="">News</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h2 class="ct-footer-list-header">Services</h2>
                        <ul>
                            <li>
                                <a href="">Design</a>
                            </li>
                            <li>
                                <a href="">Marketing</a>
                            </li>
                            <li>
                                <a href="">Sales</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h2 class="ct-footer-list-header">The Industry</h2>
                        <ul>
                            <li>
                                <a href="">Thought Leadership</a>
                            </li>
                            <li>
                                <a href="">Webinars</a>
                            </li>
                            <li>
                                <a href="">Events</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h2 class="ct-footer-list-header">About</h2>
                        <ul>
                            <li>
                                <a href="">FAQ</a>
                            </li>
                            <li>
                                <a href="">Our Board</a>
                            </li>
                            <li>
                                <a href="">Our Staff</a>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/bd669faeeb.js" crossorigin="anonymous"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
