@using FitnessBuddy.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    @await this.RenderSectionAsync("CustomCss", required: false)
</head>
<body class="body-bg-color">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-info border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link btn text-white" asp-area="" asp-controller="Users" asp-action="Profile">Profile</a>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown show">
                                    <a class="btn dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Workout
                                    </a>
                                    <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" asp-area="" asp-controller="Exercises" asp-action="All">All exercises</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Trainings" asp-action="MyTrainings">My trainings</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Exercises" asp-action="Create">Create exercise</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown show">
                                    <a class="btn dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Foods
                                    </a>
                                    <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" asp-area="" asp-controller="Foods" asp-action="All">All foods</a>
                                        <a class="dropdown-item" asp-area="" asp-action="MyFoods" asp-controller="Foods">My foods</a>
                                        <a class="dropdown-item" asp-area="" asp-action="Favorites" asp-controller="Foods">My favorite foods</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Meals" asp-action="MyMeals">Food diary</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Foods" asp-action="Add">Add food</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown show">
                                    <a class="btn dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Articles
                                    </a>
                                    <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" asp-area="" asp-controller="Articles" asp-action="All">All</a>
                                        <a class="dropdown-item" asp-area="" asp-action="Create" asp-controller="Articles">Create</a>
                                        <a class="dropdown-item" asp-area="" asp-action="Categories" asp-controller="Articles">Categories</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown show">
                                    <a class="btn dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Community
                                    </a>
                                    <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">

                                        <a class="dropdown-item" asp-area="" asp-action="Categories" asp-controller="Posts">Forum</a>
                                        <a class="dropdown-item" asp-area="" asp-action="All" asp-controller="Users">Users</a>
                                        <a class="dropdown-item" asp-area="" asp-action="SendEmail" asp-controller="Emails">Invite a friend</a>
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link btn text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="footer hover-shadow text-dark card-bg-color">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <h2 class="ct-footer-list-header">CONTACT</h2>
                    <ul class="li-style-none">
                        <li class="mb-3">
                            <i class="fa-solid fa-house-chimney"></i>  Sofia, Bulgaria
                        </li>
                        <li class="mb-3">
                            <i class="fa-solid fa-envelope"></i> info@fitnessBuddy.com
                        </li>
                        <li class="mb-3">
                            <i class="fa-solid fa-phone"></i> + 000 000 000 000
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 text-center">
                    <h2 class="ct-footer-list-header">SPECIAL THANKS TO</h2>
                    <ul class="li-style-none">
                        <li>
                            <a href="https://nikolay.it/">Nikolay Kostov</a>
                        </li>
                        <li>
                            <a href="https://www.remove.bg/">Remove.bg</a>
                        </li>
                        <li>
                            <a href="https://www.myfitnesspal.com/">Myfitnesspal.com</a>
                        </li>
                        <li>
                            <a href="https://www.muscleandstrength.com/">Muscleandstrength.com</a>
                        </li>
                        <li>
                            <a href="https://www.bodybuilding.com/en-BG/index">Bodybuilding.com</a>
                        </li>
                        <li>
                             <a href="https://musclewiki.com/">Musclewiki.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 text-center">
                    <h2 class="ct-footer-list-header">About</h2>
                    <ul class="li-style-none">
                        <li>
                            <a asp-action="Privacy" asp-controller="Home">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="https://github.com/beshev/FitnessBuddy">Open Source System</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/bd669faeeb.js" crossorigin="anonymous"></script>

    <script src="~/lib/tinymce/tinymce.min.js" asp-append-version="true"></script>
    <script>
          tinymce.init({
          selector: 'textarea#editor',
          menubar: false
        });
    </script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
