@model UserListViewModel

@{
    this.ViewData["Title"] = "All Users";
}

<div class="row">
    <form class="form-inline col-md-6 offset-md-5 mb-3" asp-action="All" asp-controller="Users">
        <input class="form-control mr-sm-2" type="search" placeholder="Enter username..." aria-label="Search" name="username">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>

@if (this.ViewData["Username"] != string.Empty && Model.Users.Any() == false)
{
    <h4 class="text-center">
        User '@this.ViewData["Username"]' does not exist!
    </h4>
}
else if (this.ViewData["Username"] == string.Empty && Model.Users.Any() == false)
{
    <h4 class="text-center">
        There are no users.
    </h4>
}
else
{
    <div class="row">
        @foreach (var user in Model.Users)
        {
            <partial name="_UserPartial" model="user" />
        }

        <partial name="_PagingPartial" model="Model" />
    </div>
}