@model IEnumerable<ShortUserViewModel>

<h4 class="text-center">
    Followers
</h4>

@if (Model.Any() == false)
{
    <h5 class="text-center">
        You don't follow anyone.
    </h5>
}

<div class="row">
    @foreach (var user in Model)
    {
        <partial name="_UserPartial" model="user" />
    }
</div>