@model IEnumerable<SelectViewModel>

<div class="form-group">
    <label id="select-meal">Trainings</label>
    <select id="select-meal" name="TrainingId"
            class="form-select"
            asp-items="@(new SelectList(Model,"Id","Name"))">
    </select>
</div>



