@using FitnessBuddy.Web.ViewModels.Articles
@model AllArticlesViewModel

@{
    this.ViewData["Title"] = "Articles";
}

<div class="text-center">
    <h1>
        All Articles
    </h1>
</div>

<partial name="_AlertSuccessPartial" />
<partial name="_AlertDeletePartial" />

<partial name="_AllArticlesPartial" model="@Model.Articles" />
<partial name="_PagingPartial" model="@Model" />