@model IEnumerable<ArticleCategoryViewModel>

@{
    this.ViewData["Title"] = "Categories";
}

<div class="container-fluid">
    <div class="row">
        @foreach (var category in Model)
        {
            <div class="col-md-3 offset-1 mb-5">
                <a asp-action="Category" asp-controller="Articles" asp-route-categoryName="@category.Name">
                    <div class="card border-dark shadow">
                        <div class="card-header col-md border text-center">
                            <div class="media flex-wrap w-100 align-items-center">
                                <img src="@category.ImageUrl" class="card-img-top" width="200" height="200">
                            </div>
                        </div>
                        <div class="card card-body text-center alert-secondary">
                            <h5>@category.Name</h5>
                        </div>
                    </div>
                </a>
            </div>
        }

    </div>
</div>