@model IEnumerable<ArticleViewModel>

@{
    this.ViewData["Title"] = "Category articles";
}

<h3 class="text-center">
    <span class="text-muted">@this.ViewData["CategoryName"]</span> category
</h3>

@if (Model.Any())
{
    <partial name="_AllArticlesPartial" model="@Model" />
}
else
{
    <h2 class="text-center">Is empty</h2>
}
