@model ArticleInputModel

@{
    this.ViewData["Title"] = "Edit";
}

<div class="text-center">
    <h1>
        @this.ViewData["Title"]
    </h1>

    <form asp-controller="Articles" asp-action="Edit" class="col-lg-6 offset-lg-3" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-grup">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" placeholder="Title..." />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-grup">
            <label asp-for="Content"></label>
            <textarea asp-for="Content" class="form-control" rows="20" placeholder="Content..."></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <vc:article-categories-select></vc:article-categories-select>
        <div class="form-grup">
            <label asp-for="Picture"></label>
            <input asp-for="Picture" class="form-control" placeholder="ImageUrl..." />
            <span asp-validation-for="Picture" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="@Model.CreatorId"/>
        <div class="form-grup" style="margin-top: 2%;">
            <input type="submit" class="btn btn-outline-dark" value="Add" />
        </div>
    </form>
</div>